<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <H1>Bienvenido a tu entrenador personal</H1>
    aaa
    
</body>
</html>